{% extends "base.html" %}
{% block content %}
    
    <h1>Invisible Australians <small>Test browser</small></h1>

    <p>Minimal file browser for records relating to the White Australia Policy from the National Archives of Australia.</p>

    <p>Part of the <a href="http://invisibleaustralians.org">Invisible Australians</a> project.</p>

    <h2>Current series</h2>

    <ul>
        <li><a href="/browse?series=ST84/1">ST84/1</a></li>
        <li><a href="/browse?series=SP42/1">SP42/1</a></li>
        <li><a href="/browse?series=BP343/15">BP343/15</a></li>
        <li><a href="/browse?series=J2481">J2481</a></li>
        <li><a href="/browse?series=J2482">J2482</a></li>
        <li><a href="/browse?series=SP115/1">SP115/1</a></li>
    </ul>


{% endblock %}